body{
  background: url("../imgs/Frame 1.png");
  background-size: cover;
  background-attachment: fixed ;
  min-height: 80vh;
  height: auto;
  overflow-y: visible;
  overflow-x: visible;
}
#root {
  font-family: 'Open Sans','Shantell Sans', Helvetica sans-serif;
}

